<?xml version="1.0"?>

<launch>

  <include file="$(find hector_gazebo_worlds)/launch/start.launch">
    <arg name="world" value="$(find robot_auto)/worlds/wg_teabox_space.world"/> 
  </include>

  <!-- <include file = "$(find hector_quadrotor_actions)/launch/actions.launch" /> -->

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
    <arg name = "x" value = "37.5"/>
    <arg name = "y" value = "17"/>
    <arg name = "z" value = "0.2"/>
  </include>
  

  <node pkg = "robot_auto" type="quadrotor_takeoff" name="init_quadrotor"/>
  
  <!-- Start rviz visualization with preset config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_auto)/config/camera_quadrotor.rviz"/>

</launch>
